<div class="padding-10">
 - Mua hàng trực tuyến mang lại sự tiện lợi, chủ động, lựa chọn đa dạng, với các dịch vụ hỗ trợ mua hàng, bán hàng, thanh toán an toàn, giao hàng chuyên nghiệp.</br>
 - Với phương châm "Luôn đặt mình vào địa vị khách hàng và đối xử trên mong đợi của họ"</br>
 - Chúng tôi luôn cố găng cung cấp đúng thông tin cho đúng người, đúng lúc, đảm bảo thanh toán trực tuyến bảo mật an toàn, áp dụng hình thức vận chuyển nhanh phù hợp.</br>
</div>
<hr />
<div class="">
<ul class="footer_category"> 
 	<li class="">
 		<h4>Hàng công nghệ</h4>
 		<div><a href="#">Điện thoại, viễn thông</a></div>
 		<div><a href="#">Máy tính, linh kiện</a></div>
 		<div><a href="#">Điện tử, điện máy</a></div>
 		<div><a href="#">Mảy ảnh, máy quay, camera</a></div>
 	</li>
 	<li class="">
 		<h4>Thời trang</h4>
 		<div><a href="#">Thời trang nữ</a></div>
 		<div><a href="#">Thời trang nam</a></div>
 		<div><a href="#">Phụ kiện</a></div>
 		
 	</li>
 	<li class="">
 		<h4>Đồ dùng văn phòng</h4>
 		<div><a href="#">Sách vở</a></div>
 		<div><a href="#">Bàn ghế thiết bị</a></div>
 		<div><a href="#">Văn phòng phẩm</a></div>
 	</li>
 	<li class="">
 		<h4>Liên kết</h4>
 		<div><a href="http://www.nhatroct.com">Nhà trọ Cần Thơ</a></div>
 		<div><a href="https://www.thanhnhantn.com">Khuyến mãi Server VPS</a></div>
 		<div><a href="https://www.facebook.com/groups/canthopartime/">Việc làm thêm</a></div>
 		
 	</li>
 </ul> 
</div>
<div class="clear">
