
* {
	padding: 0;
	margin
	:
	 
	0;
}

.clear{
	clear: both;
}
.list-sanpham {
	
}

.sanpham-item:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.sanpham-item:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sanpham-item {
	cursor: pointer;
	margin: 5px !important;
	border: 1px solid #c0c0c0;
	padding: 0px;
	display: block;
	margin: 5px 0;
}

.sanpham-item:hover {
	background-color: #FCFCFA;
}
.img-thumb{
	width: 21%;
	max-width: 100px;
	height:auto;
	max-height: 73px;
	display: block;
	float: left;
}

.img-thumb>img {
	background: white;
	width: 100%;
	height: inherit;
	max-height: 73px;
	display: block;
	float: left;
	padding: 0;
	margin:0;
	
}

.img-thumb img:hover {
	border: 1px solid #08c;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.45), 1px 1px 0 white;
}
.sp-info{
	display:block;
	width: 82%;
	float: left;
	margin-left: 10px;
}

.sp-name {
	color: #369;
	font-size: 14px;
	width:100%;
	font-weight: bold;
	text-decoration: none;
	display: -webkit-box;
	padding: 3px 0 3px 5px; 
	#background-color:#F4FBFF;
}

.sp-info .sp-name:hover {
	color: red;
	text-decoration: underline;
}

.sp-info>.details{
	padding: 2px;
	bottom: 1px;]
}
.sp-info>.details>.sp-gia {
	color: red;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}